<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Display Song</title>
	<style>
			iframe{
				height: 50px;
				width: 200px;
			}
		</style>
</head>

<body>
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>		
		</thead>
		<tbody>
			<tr th:each="songs:${songs}">
				<td th:text="${songs.name}"></td>
				<td th:text="${songs.artist}"></td>
				<td th:text="${songs.genre}"></td>
				<td >
					<audio controls>
						<source th:src="${songs.link}" type="audio/mp3">
					</audio>
				</td>
			</tr>
		</tbody>
	</table>
	
</body>

</html>